@model SintLeoPannenkoeken.ViewModels.Rondes.IndexViewModel
@{
    ViewData["Title"] = "Rondes";
}

<div id="rondes" class="container-fluid" data-scoutsjaar="@Model.Scoutsjaar.Begin">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <table id="rondesTable" class="table table-striped">
        <thead>
            <tr>
                <th>Zone</th>
                <th>Gemeente</th>
                <th>Adressen</th>
                <th>Bestellingen</th>
                <th>Pakken</th>
                <th>Bestuurder</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ronde in Model.Rondes)
            {
                <tr>
                    <td>@ronde.Zone.Naam</td>
                    <td>@ronde.Zone.Gemeente</td>
                    <td>@ronde.AantalAdressen</td>
                    <td>@ronde.AantalBestellingen</td>
                    <td>@ronde.AantalPakken</td>
                    <td>
                        @if (ronde != null && ronde.Bestuurder != null) {
                            <span>@ronde.Bestuurder.Achternaam @ronde.Bestuurder.Voornaam</span>
                        }
                    </td>
                    <td>
                        <a title='Details' asp-controller="Rapporten" asp-action="ZoneDetails" asp-route-zoneNaam="@ronde.Zone.Naam"><i class="bi bi-printer-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
