@page "/Account/ResetPassword"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using MudBlazor.StaticInput
@using SintLeoPannenkoeken.Blazor.Data

@inject IdentityRedirectManager RedirectManager
@inject UserManager<ApplicationUser> UserManager

<PageTitle>Wachtwoord resetten</PageTitle>

<h1>Wachtwoord resetten</h1>
<div class="row">
    <div class="col-md-4">
        <StatusMessage Message="@Message" />
        <EditForm Model="Input" FormName="reset-password" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />

            <input type="hidden" name="Input.Code" value="@Input.Code" />
            <div class="form-floating mb-5">
                <MudStaticTextField @bind-Value="Input.Email" Label="Email" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" ShrinkLabel />
                <ValidationMessage For="() => Input.Email" class="text-danger" />
            </div>
            <div class="form-floating mb-5">
                <MudStaticTextField @bind-Value="Input.Password"
                                    Label="Paswoord"
                                    Required="true"
                                    Variant="Variant.Outlined"
                                    Margin="Margin.Dense"
                                    ShrinkLabel
                                    Placeholder="paswoord"
                                    InputType="@_passwordInputType" />
                <ValidationMessage For="() => Input.Password" class="text-danger" />
            </div>
            <div class="form-floating mb-5">
                <MudStaticTextField @bind-Value="Input.ConfirmPassword"
                                    Label="Paswoord"
                                    Required="true"
                                    Variant="Variant.Outlined"
                                    Margin="Margin.Dense"
                                    ShrinkLabel
                                    Placeholder="Gelieve je wachtwoord te bevestigen"
                                    InputType="@_passwordInputType" />
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
            </div>
            <MudStaticButton Variant="Variant.Filled" Color="Color.Primary" UserAttributes="@_submitButtonAttributes">Reset</MudStaticButton>
        </EditForm>
    </div>
</div>

@code {
    private IEnumerable<IdentityError>? identityErrors;

    private bool _showPassword;
    private InputType _passwordInputType = InputType.Password;
    private string _passwordInputIcon = Icons.Material.Filled.VisibilityOff;
    private Dictionary<string, object> _submitButtonAttributes = new Dictionary<string, object>
    {
        { "type", "submit" }
    };

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    [SupplyParameterFromQuery]
    private string? Email { get; set; }

    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

    protected override void OnInitialized()
    {
        if (Code is null)
        {
            RedirectManager.RedirectTo("Account/InvalidPasswordReset");
        }

        Input.Code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
        Input.Email = Email ?? "";
    }

    private async Task OnValidSubmitAsync()
    {
        var user = await UserManager.FindByEmailAsync(Input.Email);
        if (user is null)
        {
            // Don't reveal that the user does not exist
            RedirectManager.RedirectTo("Account/ResetPasswordConfirmation");
        }

        var result = await UserManager.ResetPasswordAsync(user, Input.Code, Input.Password);
        if (result.Succeeded)
        {
            RedirectManager.RedirectTo("Account/ResetPasswordConfirmation");
        }

        identityErrors = result.Errors;
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm password")]
        [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";

        [Required]
        public string Code { get; set; } = "";
    }

    private void TogglePasswordVisibility()
    {
        @if (_showPassword)
        {
            _showPassword = false;
            _passwordInputIcon = Icons.Material.Filled.VisibilityOff;
            _passwordInputType = InputType.Password;
        }
        else
        {
            _showPassword = true;
            _passwordInputIcon = Icons.Material.Filled.Visibility;
            _passwordInputType = InputType.Text;
        }
    }
}
