@model SintLeoPannenkoeken.ViewModels.Shared.Scoutsjaar.ScoutsjarenViewModel

<select class="pagetitle-scoutsjaarselector">
    @foreach (var item in Model.ScoutsjarenViewModels)
    {
        if (item.Begin == Model.SelectedScoutsjaar)
        {
            <option value="@item.Begin" selected="selected">@item.Begin - @item.Einde</option>
        }
        else
        {
            <option value="@item.Begin">@item.Begin - @item.Einde</option>
        }
    }
</select>