@model SintLeoPannenkoeken.ViewModels.Bestellingen.IndexViewModel
@{
    ViewData["Title"] = "Bestellingen";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.13.1/datatables.min.css" />
}

<div id="bestellingen" class="container" data-scoutsjaar="@Model.Scoutsjaar.Begin">
    <h1 class="display-4">Bestellingen @Model.Scoutsjaar.Begin</h1>
    <form id="bestellingForm">
        <div class="row mt-4 mb-4">
            <div class="col-8">
                <label for="naam" class="form-label">Naam</label>
                <input type="text" class="form-control" placeholder="Naam" aria-label="Naam" name="naam" id="naam" />
            </div>
            <div class="col-4">
                <label for="naam" class="form-label">Telefoon</label>
                <input type="text" class="form-control" placeholder="Telefoon" aria-label="Telefoon" name="telefoon" id="telefoon" />
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-4">
                <label for="naam" class="form-label">Aantal pakken</label>
                <input type="number" class="form-control" aria-label="Aantal pakken" name="aantalPakken" id="aantalPakken" />
            </div>
            <div class="col-2">
                <label for="betaald" class="form-label">Betaald</label>
                <input type="checkbox" class="form-check-input" aria-label="Betaald" name="betaald" id="betaald" />
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <label for="opmerkingen" class="form-label">Opmerkingen</label>
                <input type="text" class="form-control" aria-label="Opmerkingen" name="opmerkingen" id="opmerkingen" />
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <label for="lid" class="form-label">Lid</label>
                <select id="lid" class="form-select" aria-label="Lid">
                    @foreach (var lid in Model.Leden)
                    {
                        <option value="@lid.Id">@lid.Achternaam @lid.Voornaam (@lid.TakNaam)</option>
                    }
                </select>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Opslaan</button>
            </div>
        </div>
    </form>
    <table id="bestellingenTable" class="table table-striped">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Telefoon</th>
                <th>Aantal pakken</th>
                <th>Opmerkingen</th>
                <th>Betaald</th>
                <th>Lid</th>
                <th>Tak</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.13.1/datatables.min.js"></script>
    <script>
        async function reloadBestellingen() {
            var scoutsjaar = $('#bestellingen').data('scoutsjaar');
            var response = await fetch(`/api/bestellingen/${scoutsjaar}`);
            if (!response.ok) {
                // TODO: handle error
            }

            var json = await response.json();
            $('#bestellingenTable').DataTable({
                destroy: true,
                data: json,
                columns: [
                    { data: 'naam' },
                    { data: 'telefoon'},
                    { data: 'aantalPakken' },
                    { data: 'opmerkingen' },
                    { data: 'betaald' },
                    { 
                        targets: 0,
                        data: function(row, type, val, meta) {
                            return `${row.lid.achternaam} ${row.lid.voornaam}`;
                        } 
                    },
                    { data: 'tak.naam' }
                ]
            });
        }

        async function submitBestelling() {
            var scoutsjaar = $('#bestellingen').data('scoutsjaar');
            var data = {
                naam: $('#bestellingForm #naam').val(),
                telefoon: $('#bestellingForm #telefoon').val(),
                aantalPakken: $('#bestellingForm #aantalPakken').val(),
                betaald: $('#bestellingForm #betaald').is(':checked'),
                opmerkingen: $('#bestellingForm #opmerkingen').val(),
                lidId: $('#bestellingForm #lid').val()
            };

            var response = await fetch(`/api/bestellingen/${scoutsjaar}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (!response.ok) {
                // TODO: handle error
            }

            setFocus();
        }

        function setFocus() {
            $('#bestellingForm #naam').focus();
        }

        function clearForm() {
            $('#bestellingForm')[0].reset();
        }

        $(async function () {
            $('#bestellingForm button.btn-primary').click(async function(event) {
                event.preventDefault();
                var scoutsjaar = $('#bestellingen').data('scoutsjaar');
                await submitBestelling();
                await reloadBestellingen();
                clearForm();
            });

            await reloadBestellingen();
            setFocus();
        });
    </script>
}
