@model SintLeoPannenkoeken.ViewModels.Bestellingen.IndexViewModel
@{
    ViewData["Title"] = "Bestellingen";
}

<div id="bestellingen" class="container-fluid" data-scoutsjaar="@Model.Scoutsjaar.Begin">
    <h1 class="display-4">@ViewData["Title"] @Model.Scoutsjaar.Begin</h1>
    <form id="bestellingForm">
        <div class="row mt-4 mb-4">
            <div class="col-9">
                <div class="row mt-4 mb-4">
                    <div class="col-8">
                        <label for="naam" class="form-label">Naam koper</label>
                        <input type="text" class="form-control" placeholder="Naam" aria-label="Naam" name="naam" id="naam" />
                    </div>
                    <div class="col-4">
                        <label for="naam" class="form-label">Telefoon</label>
                        <input type="text" class="form-control" placeholder="Telefoon" aria-label="Telefoon" name="telefoon" id="telefoon" />
                    </div>
                </div>
                <div class="row mt-4 mb-4">
                    <div class="col-2">
                        <label for="zelfAfhalen" class="form-label">Zelf afhalen</label>
                        <input type="checkbox" class="form-check-input" aria-label="Zelf Afhalen" name="zelfAfhalen" id="zelfAfhalen" />
                    </div>
                    <div class="col-5">
                        <label for="straat" class="form-label">Straat</label>
                        <select id="straat" class="form-select" aria-label="Straat">
                            <option value=""></option>
                            @foreach (var straat in Model.Straten)
                            {
                                <option value="@straat.Id" data-code="@straat.Code">@straat.Naam (@straat.Gemeente)</option>
                            }
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="code" class="form-label">Code</label>
                        <input type="text" disabled class="form-control" placeholder="Code" aria-label="Code" name="code" id="code" />
                    </div>
                    <div class="col-2">
                        <label for="nummer" class="form-label">Nummer</label>
                        <input type="text" class="form-control" placeholder="Nummer" aria-label="Nummer" name="nummer" id="nummer" />
                    </div>
                    <div class="col-1">
                        <label for="bus" class="form-label">Bus</label>
                        <input type="text" class="form-control" placeholder="Bus" aria-label="Bus" name="bus" id="bus" />
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-4">
                        <label for="naam" class="form-label">Aantal pakken</label>
                        <input type="number" class="form-control" aria-label="Aantal pakken" name="aantalPakken" id="aantalPakken" />
                    </div>
                    <div class="col-2">
                        <label for="betaald" class="form-label">Betaald</label>
                        <input type="checkbox" class="form-check-input" aria-label="Betaald" name="betaald" id="betaald" checked />
                    </div>
                    <div class="col-6">
                        <label for="opmerkingen" class="form-label">Opmerkingen</label>
                        <input type="text" class="form-control" aria-label="Opmerkingen" name="opmerkingen" id="opmerkingen" />
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12">
                        <label for="lid" class="form-label">Lid</label>
                        <select id="lid" class="form-select" aria-label="Lid">
                            @foreach (var lid in Model.Leden)
                            {
                                <option value="@lid.Id">@lid.Achternaam @lid.Voornaam (@lid.TakNaam)</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Opslaan</button>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <h2>Pakjes</h2>
                <span id="aantalPakjes"></span>
                <h2>Pannenkoeken</h2>
                <span id="aantalPannenkoeken"></span>
            </div>
        </div>
    </form>
    <table id="bestellingenTable" class="table table-striped">
        <thead>
            <tr>
                <th>Nr</th>
                <th>Naam koper</th>
                <th>Telefoon</th>
                <th>Code</th>
                <th>Adres</th>
                <th>Aantal pakken</th>
                <th>Opmerkingen</th>
                <th>Betaald</th>
                <th>Lid</th>
                <th>Tak</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script>
        var basisId = '120';

        async function reloadBestellingen() {
            var scoutsjaar = $('#bestellingen').data('scoutsjaar');
            var response = await fetch(`/api/bestellingen/${scoutsjaar}`);
            if (!response.ok) {
                // TODO: handle error
            }

            var json = await response.json();
            var bestellingen = json.bestellingen;

            $('#aantalPakjes').text(json.aantalPakjes);
            $('#aantalPannenkoeken').text(json.aantalPannenkoeken);

            $('#bestellingenTable').DataTable({
                destroy: true,
                data: bestellingen,
                order: [[0, 'desc']],
                pageLength: 100,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/nl-NL.json'
                },
                columns: [
                    { data: 'id' },
                    { data: 'naam' },
                    { data: 'telefoon' },
                    { data: 'code' },
                    {
                        data: function(row, type, val, meta) {
                            if (row.bus) {
                                return `${row.straat} ${row.nummer}/${row.bus}`;
                            } else {
                                return `${row.straat} ${row.nummer}`
                            }
                        }
                    },
                    { data: 'aantalPakken' },
                    { data: 'opmerkingen' },
                    { 
                        data: function(row, type, val, meta) {
                            if (row.betaald) {
                                return '<i class="bi-check-lg"></i>';
                            }
                            
                            return '';
                        }
                    },
                    { 
                        data: function(row, type, val, meta) {
                            return `${row.lid.achternaam} ${row.lid.voornaam}`;
                        } 
                    },
                    { data: 'tak.afkorting' },
                    {
                        data: function(row, type, val, meta) {
                            return `<a href='#' class='bestellingen-delete' title='Verwijderen' data-id='${row.id}'><i class="text-danger bi-x-circle-fill"></i></a>`;
                        }
                    }
                ]
            });

            $('.bestellingen-delete').click(async function () {
                await deleteBestelling($(this).data('id'));
            });
        }

        async function submitBestelling() {
            var scoutsjaar = $('#bestellingen').data('scoutsjaar');
            var data = {
                naam: $('#bestellingForm #naam').val(),
                telefoon: $('#bestellingForm #telefoon').val(),
                aantalPakken: $('#bestellingForm #aantalPakken').val(),
                betaald: $('#bestellingForm #betaald').is(':checked'),
                opmerkingen: $('#bestellingForm #opmerkingen').val(),
                lidId: $('#bestellingForm #lid').val(),
                straatId: $('#bestellingForm #straat').val(),
                nummer: $('#bestellingForm #nummer').val(),
                bus: $('#bestellingForm #bus').val()
            };

            var response = await fetch(`/api/bestellingen/${scoutsjaar}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (!response.ok) {
                // TODO: handle error
            }

            await reloadBestellingen();
            clearForm();
            setFocus();
        }

        async function deleteBestelling(bestellingId) {
            var scoutsjaar = $('#bestellingen').data('scoutsjaar');
            var response = await fetch(`/api/bestellingen/${scoutsjaar}/${bestellingId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (!response.ok) {
                // TODO: handle error
            }

            await reloadBestellingen();
        }

        function setFocus() {
            $('#bestellingForm #naam').focus();
        }

        function clearForm() {
            $('#bestellingForm')[0].reset();
        }

        function disableAdres() {
            $('#bestellingForm #straat').prop('disabled', true);
            $('#bestellingForm #nummer').prop('disabled', true);
        }

        function enableAdres() {
            $('#bestellingForm #straat').prop('disabled', false);
            $('#bestellingForm #nummer').prop('disabled', false);
        }

        $(async function () {
            $('#bestellingForm button.btn-primary').click(async function(event) {
                event.preventDefault();
                await submitBestelling();
                enableAdres();
            });

            $('#bestellingForm #zelfAfhalen').click(async function() {
                var checked = $(this).is(':checked');
                if (checked) {
                    disableAdres();
                    $('#bestellingForm #nummer').val('');
                    $('#bestellingForm #straat').val(basisId);
                } else {
                    enableAdres();
                }
            });

            $('#straat').change(function() {
                if ($(this).val() === basisId) {
                    disableAdres();
                    $('#bestellingForm #nummer').val('');
                    $('#bestellingForm #zelfAfhalen').prop('checked', true);
                }

                var selectedOptionCode = $('#straat option:selected').data('code');
                $('#code').val(selectedOptionCode);
            });

            await reloadBestellingen();

            setFocus();
        });
    </script>
}
