@using SintLeoPannenkoeken.Blazor.Client.Server
@using SintLeoPannenkoeken.Blazor.Client.Auth
@using SintLeoPannenkoeken.Blazor.Client.Server.Contracts
@typeparam TDto

<PageTitle>@Title</PageTitle>

<MudStack Row="true" Breakpoint="Breakpoint.Xs">
    <h1>@Title</h1>
    @if (IsForScoutsjaar)
    {
            <MudSelect @bind-Value="_selectedScoutsjaar" FitContent="true">
                @foreach (var scoutsjaar in _scoutsjaren)
                {
                    <MudSelectItem Value="scoutsjaar">@scoutsjaar.Begin</MudSelectItem>
                }
            </MudSelect>
    }
</MudStack>

<RoleAuthorizedView Roles="@AuthorizedRoles">
    @ContentBeforeData
    <MudExpansionPanels>
        <MudExpansionPanel Text="@NewItemTitle" Expanded="@NewItemExpanded">
            @NewItemForm
        </MudExpansionPanel>
    </MudExpansionPanels>
    <MudDataGrid T="@TDto" 
                 Items="@_data" 
                 SortMode="SortMode.Multiple" 
                 Filterable="true" 
                 MultiSelection="false"
                 RowsPerPage="500"
                 ReadOnly="false"
                 EditMode="DataGridEditMode.Form"
                 EditTrigger="DataGridEditTrigger.Manual"
                 CommittedItemChanges="@OnUpdate">
        <Columns>
            @Columns
            @if (CanEdit)
            {
                <TemplateColumn T="TDto" CellClass="d-flex justify-end">
                    <CellTemplate>
                        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                    </CellTemplate>
                </TemplateColumn>
            }
        </Columns>
        <PagerContent>
            <MudDataGridPager T="TDto" />
        </PagerContent>
    </MudDataGrid>
    @ContentAfterData
    
</RoleAuthorizedView>

@code {
    private IEnumerable<TDto> _data = new List<TDto>();
    private IEnumerable<ScoutsjaarDto> _scoutsjaren = new List<ScoutsjaarDto>();
    private ScoutsjaarDto _selectedScoutsjaar;

    [Inject]
    private IServerData _serverData { get; set; } = default!;

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string AuthorizedRoles { get; set; } = "";

    [Parameter]
    public RenderFragment ContentBeforeData { get; set; } = builder => { };

    [Parameter]
    public RenderFragment NewItemForm { get; set; } = builder => { };

    [Parameter]
    public string NewItemTitle { get; set; } = "Nieuw";

    [Parameter]
    public bool NewItemExpanded { get; set; } = false;

    [Parameter]
    public RenderFragment Columns { get; set; } = builder => { };

    [Parameter]
    public RenderFragment ContentAfterData { get; set; } = builder => { };

    [Parameter]
    public Func<IServerData, Task<IEnumerable<TDto>>> DataProvider { get; set; } = default!;

    [Parameter]
    public EventCallback<TDto> OnUpdate { get; set; }

    [Parameter]
    public bool CanEdit { get; set; }

    [Parameter]
    public bool IsForScoutsjaar { get; set; } = false;

    [Inject]
    public IServerData ServerData { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _data = await DataProvider(ServerData);
        if (IsForScoutsjaar)
        {
            _scoutsjaren = await _serverData.GetScoutsjaren();
            if (_scoutsjaren.Any())
            {
                _selectedScoutsjaar = _scoutsjaren.First();
            }
        }
    }
}
