@model SintLeoPannenkoeken.ViewModels.Rapporten.ZoneDetailsViewModel;
@{
    ViewData["Title"] = "Zone " + Model.ZoneNaam;
}

<div id="rapporten" class="container-fluid">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h2>@Model.ZoneNaam - @Model.PostNummer @Model.Gemeente - @Model.Bestuurder - @Model.ScoutsjaarBegin</h2>
    <table id="zoneTable" class="table table-striped">
        <thead>
            <tr>
                <th>Nr</th>
                <th>Bus</th>
                <th>Straat</th>
                <th>Naam</th>
                <th>Aantal</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script>
        async function initTable(){
            var json = @Json.Serialize(Model.Bestellingen);
            $('#zoneTable').DataTable({
                destroy: true,
                data: json,
                dom: 'Bfrtip',
                order: [[2, 'asc'], [0, 'asc']],
                buttons: [
                    {
                        extend: 'print',
                        customize: function ( win ) {
                            $(win.document.body)
                                .prepend(
                                    '<h2>@Model.ZoneNaam - @Model.PostNummer @Model.Gemeente - @Model.Bestuurder - @Model.ScoutsjaarBegin</h2>'
                                );
                            $(win.document.body).find('h1').remove();
                        }
                    }
                ],
                pageLength: 1000,
                lengthMenu: [250, 500, 1000],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/nl-NL.json'
                },
                columns: [
                    { data: 'straat' },
                    { data: 'nummer' },
                    { data: 'bus' },
                    { data: 'naam' },
                    { data: 'aantal' },
                    {
                        data: function (row, type, val, meta) {
                            return `<a href='#' onclick="toggleDeliveryStatus(${row.bestellingId})" id='${row.bestellingId}' data-geleverd='${row.geleverd}' title="` + getGeleverdText(row.geleverd) + `" class="` + getGeleverdClass(row.geleverd) + `"><i class="bi bi-house-check-fill"></i></a>`;
                        }
                    }
                ]
            });
        }

        function getGeleverdText(geleverd) {
            if (geleverd) {
                return 'Bestelling is geleverd. Klik om te markeren als niet geleverd.';
            } else {
                return 'Bestelling is niet geleverd. Klik om te markeren als geleverd';
            }
        }

        function getGeleverdClass(geleverd) {
            if (geleverd) {
                return 'text-success';
            } else {
                return 'text-muted';
            }
        }

        async function toggleDeliveryStatus(bestellingId) {
            debugger;
            var geleverd = $(`#${bestellingId}`).data('geleverd');
            var response = await fetch(`/api/bestellingen/${bestellingId}/delivery`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(
                    {
                        geleverd: !geleverd
                    })
            });

            if (!response.ok) {
                var errorMessage = await (response.text());
                alert(errorMessage);
            } else {
                $(`#${bestellingId}`).data('geleverd', !geleverd);
                $(`#${bestellingId}`).title = getGeleverdText(!geleverd);
                $(`#${bestellingId}`).removeClass(getGeleverdClass(geleverd));
                $(`#${bestellingId}`).addClass(getGeleverdClass(!geleverd));
            }
        }
    
        $(async function () {
            await initTable();
        });
    </script>
}